{layout name='layout'/}
<div class="breadcrumb">
	
	<li><a href=""class='font'>广告管理</a></li>
	
	<li class="pull-right"><a href=""><span class="glyphicon glyphicon-refresh"></span></a></li>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<button class="btn btn-danger" onclick="delAll()"><span class="glyphicon glyphicon-trash"></span>批量删除</button>
		<a class="btn btn-primary" href="{:url('add')}"><span class="glyphicon glyphicon-plus"></span>添加广告</a>
		<div class="pull-right" style="margin-top:5px;margin-left: 25px;">共有<b id="tot">{$tot}</b>条数据</div>
		<form action="" class="form-inline pull-right">
			<input type="text" class="form-control" name="search">
			<button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search">搜索</span></button>
		</form> 
	</div> 
	<div class="panel-body">
		<table class="table table-striped userIndexTable">
			<tr>
				<th><input type="checkbox" name="checkAll" id="checkAll">编号 </th>
				<th>图片</th>
				<th>链接</th>
				<th>广告类型</th>
				<th>修改</th>
				<th>删除</th>
			</tr>
			{volist name="data" id="dat"}
			<tr id="tr{$dat.id}">
				<td><input type="checkbox" name="id" class="check" value="{$dat.id}">{$dat.id} </td>
				<td><img src="__STATIC__/upload/advert/{$dat.img}" alt="" height="50px" width="120px"></td>
				<td>{$dat.href}</td>
				
				<td>
					{if condition="$dat.type eq '1'"}
					<a href="javascript:;" class="btn btn-danger" onclick="type(this,{$dat.id},{$dat.type})">明日预告</a>
					{else /}
					<a href="javascript:;" class="btn btn-rimary" onclick="type(this,{$dat.id},{$dat.type})">今日疯抢</a>
					
					{/if}
				</td>
				

				

				<td><a href='{:url('update',array('id'=>$dat.id))}' class='update'>修改</a></td>
				<td><a href='{:url('del',array('id'=>$dat.id))}' class='del btn btn-sm' >删除</a></td>
			</tr>
			{/volist}
			
		</table>
	</div>
	<div class="panel-footer">
		{$page}
	</div>
</div>
<script>
// 批量选择
 $('#checkAll').click(function(){
 	$('.check').click();
 });

function delAll(){
	datas=$('.check:checked');
	arr=new Array();
	for(i=0;i<datas.length;i++){
		arr[i]=datas.eq(i).val();
	}
	// 转字符串
	str=arr.join(',',arr);
	$.post('{:url("ajax_delAll")}',{str:str},function(data){
		if(arr.length==data){
			for(i=0;i<datas.length;i++){
				$('#tr'+arr[i]).remove();
				tot=parseInt($('#tot').html());
				  $('#tot').html(--tot);
			}
		}
	})
}
// 类型
function type(obj,id,val){
	if(val){
		$.post("{:url('ajax_type')}",{id:id,type:1},function(data){
			if(data){
				$(obj).html('明日预告');
				$(obj).attr({'class':'btn btn-danger'});
				$(obj).attr({'onclick':'type(this,'+id+',1)'});
			}
		})
	}else{
		$.post("{:url('ajax_type')}",{id:id,type:0},function(data){
			if(data){
				$(obj).html('今日疯抢');
				$(obj).attr({'class':'btn btn-rimary'});
				$(obj).attr({'onclick':'type(this,'+id+',0)'});
			}
		})
	}
}

</script>



