{layout name="layout" /}

<div class="breadcrumb">
	<li><a href="" class='font'>首页</a></li>
	<li><a href="" class='font'>用户管理</a></li>
	<li><a href="" class='font'>查看用户</a></li>
	<li class="pull-right"><a href=""><span class="glyphicon glyphicon-refresh"></span></a></li>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
	</div> 
	<div class="panel-body">
		<table class="table  userIndexTable table-bordered">
			<tr>
				<th>编号 </th>
				<th>用户名</th>
				<th>地址</th>
				<th>电话</th>
				
			</tr>
			{volist name='udata' id='dat'}
			<tr id="tr{$dat.id}">

				<td>{$dat.id}</td>
			     
				<td>
					{$dat.username}
				</td>
				<td>{$dat.addr}</td>
				<td>{$dat.tel}</td>
				
				
                
			{/volist}
            <a href="{:url('index')}" class='update'>返回</a>
			
		</table>
	</div>
	<div class="panel-footer">
	</div>
</div>

<script>
  
</script>





