{layout name="layout" /}
<div class="breadcrumb">
	
	<li><a href="" class='font'>订单管理</a></li>
	
	<li class="pull-right"><a href=""><span class="glyphicon glyphicon-refresh"></span></a></li>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<button class="btn btn-danger" onclick="delAll()"><span class="glyphicon glyphicon-trash"></span>批量删除</button>
		
		<div class="pull-right" style="margin-top:5px;margin-left: 25px;">共有<b id="tot">{$tot}</b>条数据</div>
		<form action="" class="form-inline pull-right">
			<input type="text" class="form-control" name="search">
			<button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search">搜索</span></button>
		</form> 
		<div class="clear" style='clear:both'></div>
	</div> 
	<div class="panel-body">
		<table class="table  userIndexTable table-bordered">
			<tr>
				<th><input type="checkbox" name="checkAll" id="checkAll">编号 </th>
				<th>订单号</th>
				<th>用户</th>
				<th>下单商品</th>
				<th>下单时间</th>
				<th>订单状态</th>
				<th>联系方式</th>
				<th>客户确认</th>
				
				<th>修改</th>
				
				<th>删除</th>
			</tr>
			{volist name='data' id='dat'}
			
			<tr id="tr{$dat.id}" code="tr{$dat.ordernum}">

				<td><input type="checkbox" name="id" class="check" value="{$dat.id}">{$dat.id}</td>
				<td>{$dat.ordernum}</td>
				<td>{$dat.username}</td>
				
				<td><a href="{:url('code',array('id'=>$dat.id,'code'=>$dat.ordernum))}" class='update'>下单商品</a></td>
				<td>{:date("Y-m-d H:i:s",$dat.time)}</td>
				<td>{$dat.status}</td>
                 <td><a href="{:url('contact',array('id'=>$dat.id))}" class='update'>联系方式</a></td>
                 <td>{$dat.affrim==0?"否":"是"}</td>
				<td><a href="{:url('edit',array('id'=>$dat.id))}" class='update'>修改状态</a></td>
                <!-- <td><a href="javascript:;" class='del btn btn-sm' onclick="del({$dat.id},this)">删除</a></td> -->
				<td><a href='javascript:;' data-toggle="modal" data-target="#usedel1"  class='del btn btn-sm' onclick="find1({$dat.id})">删除</a></td>
                
			{/volist}
		</table>
	</div>
	<div class="panel-footer">
		{$page}
	</div>

						

</div>
<div class="modal fade" id="usedel1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				
				
			</div>
			<div class="modal-body">
				<form onsubmit="return false" id="delForm">
					
					
				</form>
			</div>
			
		</div>
	</div>
</div>
<script>

// 删除
	  function find1(id){
		$.post('{:url("ajax_find1")}',{id:id},function(data){
			$('#delForm').html(data);
		})

	}
	
 	// 删除
	function del(id){
		str=$('#delForm').serialize();
		$.post('{:url("ajax_del")}',{str:str},function(data){
			if(data==1){
				$('#tr'+id).hide();
				tot=parseInt($('#tot').html());
				$('#tot').html(--tot);			
				$('.close').click();
			}else{
				alert('删除失败');
			}
		});
		
	}
	// function del(id,obj){
	// 	$.post('{:url("ajax_del")}',{id:id},function(data){
			

	// 		if(data==1){
	// 			$(obj).parent().parent().hide();
				
	// 		}else{
	// 			alert('删除失败');
	// 		}
	// 	})	
	// }
// 批量选择
 $('#checkAll').click(function(){
 	$('.check').click();
 });

function delAll(){
	datas=$('.check:checked');
	arr=new Array();
	for(i=0;i<datas.length;i++){
		arr[i]=datas.eq(i).val();
	}
	// 转字符串
	str=arr.join(',',arr);
	$.post('{:url("ajax_delAll")}',{str:str},function(data){
		if(arr.length==data){
			for(i=0;i<datas.length;i++){
				$('#tr'+arr[i]).remove();
				tot=parseInt($('#tot').html());
				  $('#tot').html(--tot);
			}
		}
	})
}
</script>



