{layout name="layout" /}
<div class="breadcrumb">
	
	<li><a href="" class='font'>管理员管理</a></li>
	
	<li class="pull-right"><a href=""><span class="glyphicon glyphicon-refresh"></span></a></li>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<button class="btn btn-danger" onclick="delAll()"><span class="glyphicon glyphicon-trash"></span>批量删除</button>
		<a class="btn btn-primary" href="{:url('add')}"><span class="glyphicon glyphicon-plus"></span>添加管理员</a>
		<div class="pull-right" style="margin-top:5px;margin-left: 25px;">共有<b id="tot">{$tot}</b>条数据</div>
		<form action="" class="form-inline pull-right">
			<input type="text" class="form-control" name="search">
			<button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search">搜索</span></button>
		</form> 
	</div> 
	<div class="panel-body">
		<table class="table userIndexTable table-bordered">
			<tr>
				<th><input type="checkbox" name="checkAll" id="checkAll">编号 </th>
				<th>管理名</th>
				<th>头像</th>
				<th>昵称</th>
				<th>最后一次登录时间</th>
				<th>登录次数</th>
                <th>状态</th>
				
				<th>修改</th>
				<th>删除</th>
			</tr>
			{volist name="data" id="dat"}
			<tr id="tr{$dat.id}">
				<td><input type="checkbox" name="id" class="check" value="{$dat.id}">{$dat.id}</td>
				<td>{$dat.adminname}</td>
				
				<td><img src="__STATIC__/upload/admin/{$dat.img}" alt="" width="80px" height="50px"></td>
				<td>{$dat.petname}</td>
				<td>{$dat.lastlogin==0?'从未登录':date("Y-m-d H:i:s",$dat.lastlogin)}</td>
				<td>{$dat.num}</td>
				<td>
					{if condition="$dat.status eq '0'"}
					<a href="javascript:;" class="btn btn-danger" onclick="status(this,{$dat.id},{$dat.status})">禁用</a>
					{else /}
					<a href="javascript:;" class="btn btn-rimary" onclick="status(this,{$dat.id},{$dat.status})">正常</a>
					{/if}
				</td>
				
				<td><a href="{:url('update',array('id'=>$dat.id))}" class='update'>修改</a></td>
				<td><a href='{:url('del',array('id'=>$dat.id))}' class='del btn btn-sm' >删除</a></td>
			</tr>
			{/volist}
		</table>
	</div>
	<div class="panel-footer">
		{$page}
	</div>
</div>
<script>
// 批量选择
 $('#checkAll').click(function(){
 	$('.check').click();
 });

function delAll(){
	datas=$('.check:checked');
	arr=new Array();
	for(i=0;i<datas.length;i++){
		arr[i]=datas.eq(i).val();
	}
	// 转字符串
	str=arr.join(',',arr);
	$.post('{:url("ajax_delAll")}',{str:str},function(data){
		if(arr.length==data){
			for(i=0;i<datas.length;i++){
				$('#tr'+arr[i]).remove();
				tot=parseInt($('#tot').html());
				  $('#tot').html(--tot);
			}
		}
	})
}

// 状态
 	function status(obj,id,val){
        if(val){
           $.post("{:url('ajax_status')}",{id:id,status:0},function(data){
	           	if(data){
					$(obj).html('禁用');
					$(obj).attr({'class':'btn btn-danger'});
					$(obj).attr({'onclick':'status(this,'+id+',0)'});
				}
           })
        }else{
        	$.post("{:url('ajax_status')}",{id:id,status:1},function(data){
				if(data){
					$(obj).html('正常');
					$(obj).attr({'class':'btn btn-rimary'});
					$(obj).attr({'onclick':'status(this,'+id+',1)'});
				}
		  })
        }
 	}
</script>



