{layout name="layout" /}
<div class="breadcrumb">
	
	<li><a href="" class='font'>订单管理</a></li>
	
	<li class="pull-right"><a href=""><span class="glyphicon glyphicon-refresh"></span></a></li>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<button class="btn btn-danger" onclick="delAll()"><span class="glyphicon glyphicon-trash"></span>批量删除</button>
		<a class="btn btn-primary" href="{:url('add')}"><span class="glyphicon glyphicon-plus"></span>添加状态</a>
		<div class="pull-right" style="margin-top:5px;margin-left: 25px;">共有<b id="tot">{$tot}</b>条数据</div>
		<form action="" class="form-inline pull-right">
			<input type="text" class="form-control" name="search">
			<button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search">搜索</span></button>
		</form> 
		<div class="clear" style='clear:both'></div>
	</div> 
	<div class="panel-body">
		<table class="table  userIndexTable table-bordered">
			<tr>
				<th><input type="checkbox" name="checkAll" id="checkAll">编号 </th>
				<th>状态</th>
				
				<th>修改</th>
				
				<th>删除</th>
			</tr>
			{volist name='data' id='dat'}
			<tr id="tr{$dat.id}">
				<td><input type="checkbox" name="id" class="check" value="{$dat.id}">{$dat.id} </td>
			
				<td>{$dat.status}</td>
				
				
				<td><a href='{:url('update',array('id'=>$dat.id))}' class='update'>修改</a></td>
				{if condition="$dat.id eq  '2'"}
                <td><a href="javascript:;" class='' onclick="del()">勿动</a></td>
                 {else/}
                <td><a href="javascript:;" class='del btn btn-sm' onclick="del({$dat.id},this)">删除</a></td>
                {/if}
                
			{/volist}
		</table>
	</div>
	<div class="panel-footer">
		{$page}
	</div>

						
</div>
</div>
<script>

// 删除
	function del(id,obj){
		$.post('{:url("ajax_del")}',{id:id},function(data){
			

			if(data==1){
				$(obj).parent().parent().hide();
				
			}else{
				alert('删除失败');
			}
		})	
	}
// 批量选中
$('#checkAll').click(function(){
	$('.check').click();
});
function delAll(){
	

	datas=$('.check:checked');
	arr=new Array();
	for(i=0;i<datas.length;i++){
   arr[i]=datas.eq(i).val();
}

// 转字符串
    str=arr.join(',',arr);
$.post('{:url("ajax_delAll")}',{str:str},function(data){
	if(arr.length==data){
		for(i=0;i<datas.length;i++){
			$('#tr'+arr[i]).remove();
			tot=parseInt($('#tot').html());
		    $('#tot').html(--tot);
		}
	}
})
}
</script>



